<div class="well">
	<h2>Quick Links</h2>
	<ul>Switch to:
		<li><%= link_to 'Published Books', books_path %></li>
		<li><%= link_to 'Under Contract', contracted_books_path %></li>
		<li><%= link_to 'New Proposals', proposed_books_path %></li>
		<li><%= link_to 'Add a New Book', new_book_path %></li>
	</ul>
</div>