<p>
	<b><%= pluralize(@book.authors.size, 'Author') %></b><br />
	<ul>
		<% for author in @book.authors.alphabetical %>
			<li><%= link_to((author.name), author_path(author)) %></li>
		<% end  %>
	</ul>
</p>